* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.list-fp a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}
.team-head a {
  text-decoration: none;
  color: rgb(77, 77, 207);
}

.container ul li a {
  text-decoration: none;
  color: #000;
}
header h1 {
  float: left;
  padding: 15px 0;
  color: rgb(77, 77, 207);
}
header ul {
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 20px;
  display: inline-block;
}

header ul li a:hover {
  color: #ffff;
  background-color: rgb(77, 77, 207);
}

.active {
  color: #ffff;
  background-color: rgb(77, 77, 207);
}

.banner {
  height: 60vh;
  background-image: url("../img/cyber.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(77, 77, 207, 0.7);
}

section {
  padding: 50px 0;
}

.greet {
  font-size: 40px;
  color:#fff;
  z-index: 1;
  padding: 20px 25px;
  border: 5px solid #fff;
}

section h3 {
  text-align: center;
  padding: 20px 0;
  color: rgb(77, 77, 207);
}

.about h3 {
  margin-top: 50px;
}
.about p {
  color: #666;
  word-spacing: 2px;
  line-height: 15px;
  margin-bottom: 80px;
  text-align: center;
}

.service {
  background-color: #f9f9f9;
  padding-bottom: 80px;
}

.about-company {
  font-size: 15px;
  padding: 10px;
}
.box {
  color: rgb(77, 77, 207);
}
.box::after {
  content: "";
  display: block;
  clear: both;
}
.box .col-4 {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

.icon {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 25px;
  margin: 0 auto;
}

.box .col-4 h4 {
  margin: 20px 0;
}

footer {
  background-color: rgb(53, 51, 51);
  padding: 30px 0;
  color: #fff;
  text-align: center;
}

.bg-loader {
  background-color: #eee;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-loader .loader {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: rgb(77, 77, 207);
  border-right-color: rgb(77, 77, 207);
  border-bottom-color: rgb(77, 77, 207);
  animation: loading 3s linear infinite;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.label {
  background-color: rgb(77, 77, 207);
  color: white;
}

.label1 {
  background-color: rgb(77, 77, 207);
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
  header h1 {
    text-align: center;
    float: none;
  }

  .box .col-4 {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}

.img-team {
  display: flex;
  background-color: rgb(77, 77, 207);
}

.img-team img {
  height: 400px;
  width: 200px;
  flex: 1;
}

.line {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.admin-home {
  margin-bottom:50px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #6424ee, #2c2fb8, #372fda, #5e4ddb);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #6424ee, #2c2fb8, #372fda, #5e4ddb);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    